.format-1-container {
    .button {
        padding: 5px 10px;
        background-color: #fff;
        border: 1px solid #f65b5b;
        border-radius: 5px;
        font-size: 14px;
        color: #444444;
        cursor: pointer;
    }
}