.button {
    padding: 5px 10px;
    border-radius: 5px;
    //   background-color: ;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #f65b5b;
    background-color: #fff;
    color: #444444;
}

.input-field {
    min-width: 300px;
    margin-top: -10px;
    padding: 10px 15px;
    border: 1px solid #44444470;
    background-color: #fff;
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
}

.form-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
}