.tabs-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;

    div {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    .active {
        color: green;
        font-weight: 600;
        border-bottom: 1px solid green;
    }
}